body{
    background-image: url(aksonvady_Data_technology_futuristic_illustration\ 31\ 1.png);
    background-repeat:  no-repeat;
}
.h2{
    color: gray;
}
.h5{
    color: gray;
}
.p{
    color: aliceblue;
}
.m{
    color: gray;
}
.n{
    color: aliceblue;
}
.b{
    color:  gray;
}
.v{
    color:  gray;
}
.c{
    color: aliceblue;
}
.x{
    color: gray;
}
.z{
    color: aliceblue;
}